<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
    	<setting name="logImpl" value="LOG4J"/>
  	</settings>
	<!-- 别名 -->
	<typeAliases>
		<typeAlias alias="Page" type="cn.action.common.persistence.Page" /><!--分页  -->
		<package name="cn.action.modules"/>
	</typeAliases>

	<!-- 插件配置 -->
	<plugins>
		<plugin interceptor="cn.action.common.persistence.interceptor.PaginationInterceptor" />
    </plugins>
	
</configuration>
